<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">


<groups>

<run>

<exclude name="smoke"></exclude>
</run>

</groups>


  <test thread-count="5" name="Test">
    <classes>
      <class name="com.selenium.testng.GroupTestCase"/>
      <class name="com.selenium.testng.InvocationCount"></class>
      <class name="com.selenium.testng.DependsOnMethod"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
